@font-face {
    font-family: "sitefont";
    src: url(../Fonts/Montserrat-Regular.otf),
    url(../Fonts/Montserrat-Regular.ttf),
    url(../Fonts/Montserrat-Regular.woff),
    url(../Fonts/Montserrat-Regular.woff2);
}
* {
    box-sizing: border-box;
    font-family: "sitefont" ;
    text-transform: capitalize;
}
.Logo{
    width: 100px;
    height: 70px;
}
.Header_links{
    
    align-items: center;
}
.Header_links>a{
   padding-left: 60px !important;
   color: rgb(137 137 137);
   font-weight: 600;
}
.Header_links>a>button{
    padding: 15px 30px;
    font-weight: bold;
    text-align: center;

}
.Homepage_container{
    padding-top: 100px;
}
.Header_nav{
    background-color: #fff;
    box-shadow: 0 8px 5px -10px #000;
    margin-bottom: 5px!important;
    position: fixed!important;
    width: 100%;
    z-index: 2;
   
}
.Banner_form{
    border: 1px solid rgb(158, 158, 158);
    width: 100%;
    border-radius: 40px;
    padding: 9px;
}
.Banner_form>button{
    padding: 15px 30px;
    border-radius: 40px;
    font-weight: 600;
}
.Banner_form>input{
    background-image: url(../Images//icons8-search-50.png);
    background-repeat:no-repeat ;
    background-size: 32px;
    padding-left: 55px;
    background-position-y: center;
    background-position-x:8px;
    font-size: 17px;
    box-shadow: none !important;
    outline: none !important;
}
.Count_Card{
 box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
 border-radius: 15px;
 display: grid;
 place-items: center;
 
}
.CountCard_maincontainer{
    background-color: #75a8ff;
}
.Count_Card>span{
    color: #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
     font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.Heading{
    justify-content: space-between;
    align-items: center;
}
.Heading>div:after{
    content: "";
    height: 3px;
    left: 0;
   
    position: absolute;
    right: 0;
    width: 120px;
    background-color: hsl(218, 98%, 55%);
}
.card-img-top{
    height: 180px;
}